WorkflowServer/WorkflowManagement/WorkflowManagement/Service References/MngService/MyIdealProp.Workflow.Core.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyIdealProp.Workflow.Core.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyIdealProp.Workflow.Core.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfErrorLog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ErrorLog" nillable="true" type="tns:ErrorLog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfErrorLog" nillable="true" type="tns:ArrayOfErrorLog" />
  <xs:complexType name="ErrorLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActInstId" type="xs:int" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventInstId" type="xs:int" />
      <xs:element minOccurs="0" name="LogId" type="xs:int" />
      <xs:element minOccurs="0" name="ProcInstId" type="xs:int" />
      <xs:element minOccurs="0" name="ProcessInstance" nillable="true" type="tns:ProcessInstance" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorLog" nillable="true" type="tns:ErrorLog" />
  <xs:complexType name="ProcessInstance">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataFields" nillable="true" type="tns:ArrayOfDataFieldDefinitionWithValue" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Originator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Priority" type="tns:ProcessInstance.ProcessPriority" />
      <xs:element minOccurs="0" name="ProcessName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessInstance" nillable="true" type="tns:ProcessInstance" />
  <xs:complexType name="ArrayOfDataFieldDefinitionWithValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataFieldDefinitionWithValue" nillable="true" type="tns:DataFieldDefinitionWithValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataFieldDefinitionWithValue" nillable="true" type="tns:ArrayOfDataFieldDefinitionWithValue" />
  <xs:complexType name="DataFieldDefinitionWithValue">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataFieldDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DataFieldDefinitionWithValue" nillable="true" type="tns:DataFieldDefinitionWithValue" />
  <xs:complexType name="DataFieldDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDefinition">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DataFieldDefinition" nillable="true" type="tns:DataFieldDefinition" />
  <xs:complexType name="BaseDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseDefinition" nillable="true" type="tns:BaseDefinition" />
  <xs:simpleType name="ProcessInstance.ProcessPriority">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Normal" />
      <xs:enumeration value="Important" />
      <xs:enumeration value="Urgent" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ProcessInstance.ProcessPriority" nillable="true" type="tns:ProcessInstance.ProcessPriority" />
</xs:schema>