WorkflowServer/WorkflowManagement/WorkflowManagement/Service References/MngService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MyIdealProp.Workflow.Core.Model" />
  <xs:element name="GetAllErrorlogs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllErrorlogsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MyIdealProp.Workflow.Core.Model" minOccurs="0" name="GetAllErrorlogsResult" nillable="true" type="q1:ArrayOfErrorLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetryError">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="errorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetryErrorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>